.firstSection {
  height: min-content;
  display: grid;
  grid-template-columns: 1fr 1.5fr;
  grid-template-rows: 2fr 1.5fr;
  position: relative;
  font-family: Quicksand;
}

.firstSection h2 {
  font-size: 3.12rem;
  font-weight: 700;
}

.firstSection p {
  font-weight: 500;
  margin-top: 1rem;
  margin-bottom: 1rem;
  font-size: 1rem;
  line-height: 26px;
}

.firstSection button {
  background: #f36888;
  border-radius: 22px;
  border: none;
  color: white;
  padding: 0.5rem 1rem;
  margin-right: 1rem;
  margin-bottom: 1rem;
}

.firstSection button:nth-child(2) {
  background: #00b4d8;
}

.firstImg {
  width: 100%;
  height: 100%;
  position: relative;
  display: flex;
  justify-content: center;
}

.firstImg .circleTop {
  top: 0px;
  position: absolute;
  transform: translateX(10%);
  transform: translateY(-40%);
  background: #06d6a0;
  margin: 0 1rem 1rem 0;
  height: 15rem;
  width: 30rem;
  border-bottom-left-radius: 30rem;
  border-bottom-right-radius: 30rem;
  z-index: 90;
}

.firstImg .circleRight {
  background: #ffce5c;
  height: 20rem;
  width: 10rem;
  border-bottom-left-radius: 30rem;
  border-top-left-radius: 30rem;
  z-index: 90;
  right: 0px;
  bottom: 0px;
  transform: translateY(50%);
  position: absolute;
}

.firstImg .circleCenter {
  background: #f36888;
  height: 2rem;
  width: 2rem;
  border-radius: 2rem;
  z-index: 90;
  left: 0px;
  bottom: 0px;
  position: absolute;
  transform: translate(-50%, 50%);
}

.firstImg img {
  width: 100%;
  height: 100%;
  border-top-left-radius: 50rem;
  object-fit: cover;
  object-position: left bottom;
}

.secondImg {
  width: 100%;
  height: 100%;
  position: relative;
}

.secondImg img {
  width: 100%;
  height: 100%;
  border-bottom-right-radius: 50rem;
  object-fit: cover;
  object-position: bottom;
}

.firstDesc,
.secondDesc {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.firstDesc > div {
  width: 70%;
  margin: 0 auto;
}

.secondDesc > div {
  width: 60%;
  margin: 0 auto;
}

@media (max-width: 992px) {
  .firstSection {
    height: 40rem;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
  }

  .firstSection h2 {
    font-size: 30px;
    font-weight: bold;
  }

  .firstDesc > div,
  .secondDesc > div {
    width: 100%;
    background-color: rgba(255, 255, 255, 0.4);
  }

  .firstImg,
  .secondImg {
    display: none;
  }

  .firstDesc,
  .secondDesc {
    background-position: left;
    background-size: cover;
    padding: 1rem;
  }

  .firstDesc {
    background-image: url("../../images/yellow-van.png");
    margin-bottom: 1.5rem;
  }

  .secondDesc {
    background-image: url("../../images//cascade.png");
  }

  .firstImg .circleRight {
    display: none;
  }

  .firstImg .circleTop {
    display: none;
  }
}
